%div.column-two-thirds
  %h1.heading-xlarge
    = t('help.heading')

  %p
    = t('help.lede')
  %ul.text.list.list-bullet
    %li
      = t('help.name')
    %li
      = t('help.json')
  %p
    = t('help.publisher_tool')
  %p
    = t('help.also')
  %ul.text.list.list-bullet
    %li
      = t('help.configure')
    %li
      = t('help.assign')
  %div.row_space
  - if current_user
    = link_to t('services.index.new_service'), new_service_path, class: 'button button-cta'
