%div.column-full
  %h1.heading-xlarge
    = t('help.heading')

  %p.lede
    = t('help.lede')
  %ul.text.list.list-bullet
    %li.lede
      = t('help.name')
    %li.lede
      = t('help.json')
  %p.lede.text
    = t('help.publisher_tool')
  %p.lede
    = t('help.also')
  %ul.text.list.list-bullet
    %li.lede
      = t('help.configure')
    %li.lede
      = t('help.assign')
