%h1.heading-xlarge
  = t('.heading')

= link_to t('.new_team'), new_team_path, class: 'button button-cta'

%div.pad-bottom
- if @teams.empty?
  %p
    = t('.no_teams_yet')
- else
  %table
    %thead
      %th{ scope: 'col' }
        = t('.name')
      %th{ scope: 'col' }
        = t('.actions')
    %tbody
      = render partial: 'team', collection: @teams

%div.pad-top
= pagy_nav(@pagy).html_safe
