%tr
  %th
    = ServiceEnvironment.find(environment.environment_slug).name
  %td
    = link_to(environment.url, environment.url)
  %td
    - if environment.status
      %span{ class: 'status status-#{environment.status}' }
        = environment.status
    - else
      \-
  %td
    = environment.timestamp ? localize(environment.timestamp) : "-"
  %td
    = button_to(t('.check_now'), {}, class: 'button')
