%tr{ id: environment[:environment_slug] }
  %th
    = ServiceEnvironment.find(environment[:environment_slug]).name
  %td
    - if environment[:url].present?
      = link_to(environment[:url], environment[:url])
    - else
      \-
  %td
    - if environment[:deployment_status]
      %span{ class: "status status-#{environment[:deployment_status].to_s}xx" }
      = environment[:deployment_status]
    - else
      %span= t('.no_deployment')
  %td
    = environment[:timestamp] ? localize(environment[:timestamp]) : "-"
  %td.actions
    - if environment[:status] && environment[:deployment_status] || environment[:status].nil?  && environment[:deployment_status] == 'completed'
      = button_to t('.check_now'),
                    service_status_checks_path(environment[:service]),
                    params: {service_id: environment[:service].slug, environment_slug: environment[:environment_slug]},
                    class: 'button',
                    remote: true,
                    data: {disable_with: t('.checking')}
    - else
      \-
