%tr{ id: environment.environment_slug }
  %th
    = ServiceEnvironment.find(environment.environment_slug).name
  %td
    = link_to(environment.url, environment.url)
  %td
    - if environment.status
      %span{ class: "status status-#{environment.status.to_s.first}xx" }
        = environment.status
    - else
      \-
  %td
    = environment.timestamp ? localize(environment.timestamp) : "-"
  %td.actions
    = button_to t('.check_now'),
                service_status_checks_path(environment.service),
                params: {service_id: environment.service.slug, environment_slug: environment.environment_slug},
                class: 'button',
                remote: true,
                data: {disable_with: t('.checking')}
