= form_for service do |f|
  .form-group
    = f.text_field :name, required: true, maxlength: 128
  .form-group
    = f.text_field :slug, maxlength: 64
  .form-group
    = f.text_field :git_repo_url, maxlength: 2048, required: true
  .form-group
    = f.text_area :deploy_key, maxlength: 4096
  .form-group
    = f.submit button_label, class: 'button button-cta'
