%nav#service-links.inline-nav
  %ul
    %li
      - if current_action?(controller: :services, action: :show)
        %span= t('.urls')
      - else
        = link_to t('.urls'), service_path(service)
    %li
      - if current_action?(controller: 'services/config_params', action: :index)
        %span= t('.config_params')
      - else
        = link_to t('.config_params'), service_config_params_path(service)
    %li
      - if current_action?(controller: 'services/permissions')
        %span= t('.permissions')
      - else
        = link_to t('.permissions'), service_permissions_path(service)
    %li
      - if current_action?(controller: 'services/deployments')
        %span= t('.deployments')
      - else
        = link_to t('.deployments'), status_service_deployments_path(service)
