= render partial: 'services/header', locals: {service: @service}

%p.lede
  = t '.lede_html'

%table#service-permissions
  %thead
    %tr
      %th
        = t '.name'
      %th
        = t '.actions'

  %tbody
    = render partial: 'permission', collection: @permissions

    = render partial: 'form', locals: {permission: @permission}
