= form_for @config_param do |f|
  = f.hidden_field :environment_slug, value: @config_param.environment_slug
  = f.hidden_field :service_id, value: @config_param.service_id
  %tr
    %td
      = f.text_field :name, label: nil, required: true, maxlength: 64, size: 32
    %td
      = f.text_field :value, label: nil, maxlength: 1024, size: 32
    %td
      = f.submit t('.submit'), class: 'button button-cta'
