= form_with model: @config_param, url: update_or_create(@config_param), local: true do |f|
  = f.hidden_field :environment_slug, value: @config_param.environment_slug
  %tr
    %td
      = f.text_field :name, label: nil, required: true, maxlength: 64, size: 32
    %td
      = f.text_field :value, label: nil, maxlength: 1024, size: 32
    %td
      = f.submit t('.submit'), class: 'button button-cta'
