= render partial: 'services/header', locals: {service: @service}

%table#config-params

  %thead
    %tr
      %th
        Add Configuration
      %th.inline-nav
        %ul
          - @environments.each do |env|
            %li
              - if params[:env] == env.slug.to_s
                %span
                  = env.form_environment
              - else
                = link_to env.form_environment, {env: env.slug}
      %th
      = render partial: 'form', locals: {config_param: @config_param, button_name: t('services.config_params.form.add')}
    %th
      = t '.name'
    %th
      = t '.value'
    %th
      = t '.actions'
    = render partial: 'config_param', collection: @config_params
