%tr{ id: deployment.id, data: { refreshable: deployment.pending? ? service_deployment_path(@service, deployment) : nil} }
  %td
    - if deployment.created_at.present?
      = l(deployment.created_at, format: :short)
    - else
      \-
  %td
    - if deployment.completed_at.present?
      = l(deployment.completed_at, format: :short)
    - else
      \-
  %td
    = deployment.commit_sha
  %td
    %span{ class: ['status', ['status', deployment.status].join('-')].join(' ') }
      = t( deployment.status, scope: [:shared, :service_deployments, :status] )
  %td
    - if can?(:show, deployment.created_by_user)
      = link_to deployment.created_by_user.name, user_path(deployment.created_by_user)
    - else
      = deployment.created_by_user.name
  %td
    = link_to t('.view_log'), service_deployment_path(@service, deployment)
