%tr{ id: environment.environment_slug }
  %th
    = ServiceEnvironment.find(environment.environment_slug).name
  %td
    - if environment.commit_sha.present?
      = link_to(environment.commit_sha, environment.commit_sha)
    - else
      \-
  %td
    = environment.completed_at ? localize(environment.completed_at) : "-"
  %td
    - if environment.status
      %span{ class: ['status', ['status', environment.status].join('-')].join(' ') }
        = t( environment.status, scope: [:shared, :service_deployments, :status] )
    - else
      \-
  %td.actions
    - if can?(:index, ServiceDeployment.new(service: environment.service))
      = link_to t('.history'), service_deployments_path(environment.service, params: {env: environment.environment_slug})
    - if can?(:new, ServiceDeployment.new(service: environment.service, environment_slug: environment.environment_slug))
      = link_to t('.deploy_now'),
                  new_service_deployment_path(environment.service, env: environment.environment_slug),
                  class: 'button'
