= render partial: 'services/header', locals: {service: @service}

= render partial: 'environments_nav', locals: {current_env: params[:env]}

%table#deployments
  %thead
    %tr
      %th
        = t '.created_at'
      %th
        = t '.completed_at'
      %th
        = t '.commit'
      %th
        = t '.status'
      %th
        = t '.user'
      %th
        = t '.actions'

  %tbody
    = render partial: 'deployment', collection: @deployments
