%h1.heading-xlarge
  = t('.heading', service: @service.name, environment: @environment.name)

%p.lede
  = t('.lede_html', git_repo_url: @service.git_repo_url)

= form_with model: @deployment, url: update_or_create(@deployment), local: true do |f|
  = f.hidden_field :environment_slug
  = f.text_field :commit_sha, label: nil, required: false, maxlength: 64, size: 32

  = f.submit t('.submit'), class: 'button button-cta'
