= render partial: 'services/header', locals: {service: @service}

%table
  %thead
    %tr
      %th
        = t('.environment')
      %th
        = t('.commit')
      %th
        = t('.completed_at')
      %th
        = t('.status')
      %th
        = t('.actions')

  %tbody
    = render partial: 'environment', collection: @deployments_by_environment
