= content_for :head do
  = stylesheet_link_tag "application.css"
  = csrf_meta_tags

= content_for :page_title do
  = t('.title')

= content_for :logo_link_title do
  = t('.logo_link_title')

= content_for :body_end do
  .javascript
    = javascript_include_tag "application.js"

= content_for :homepage_url do
  = root_url

= content_for :header_class do
  = "with-proposition"

= content_for :proposition_header do
  .header-proposition
    .content
      / no-js
      = link_to 'Menu', '#proposition-links', class: 'js-header-toggle menu'

      %nav#proposition-menu
        = link_to t('.title'), root_url, id: 'proposition-name'

        - if current_user
          = render partial: 'layouts/user_nav'
        - else
          = render partial: 'layouts/unsigned_user_nav'

= content_for :content do
  %main{ class: "content inner cf", id: "content", role: "main" }

    = render partial: 'layouts/flashes'

    = yield

= render template: "layouts/govuk_template"
