<!DOCTYPE html>
<html>
  <head>
    <title>MoJ Form Publisher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header role="banner" id="global-header" class="with-proposition">
      <%= render partial: 'layouts/header' %>
    </header>
    <main role="main">
      <%= yield %>
    </main>
    <section id="debug">
      <header>
        <h2>Debug</h2>
      </header>
      <h3>Session</h3>
      <pre>
        <%= JSON.pretty_generate session.to_h %>
      </pre>
    </section>
  </body>
</html>
